.root{
	height: 100%;
	display:  flex;
	justify-content: space-evenly;
	align-items: stretch;
}

.left{
	text-align: center;
	margin: 10px 70px;
}

.leftArrow {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.35em solid #333;
  border-radius: 50%;
}

.leftArrow:after {
  content: '';
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 0.3em;
  width: 0.65em;
  height: 0.65em;
  border-top: 0.35em solid #333;
  border-right: 0.35em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right{
	width: 100%;
  display:  flex;
  margin: 50px;
}

.item{
  width:  calc(33% - 30px);
  margin: 15px;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 20px;
  display: flex;
}

.itemText{
  margin: 0;
  line-height: 80px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  text-align: center;
  align-self: flex-end;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(to right, #545454, #191919);
}